.containerIntro {
    max-width: 100%;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-size: 220vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/homeBackground/homeBackground.jpg);
    filter: blur(0.5px);
    box-shadow:
        rgba(0, 0, 0, 0.80) 20px 20px 20px 20px inset,
        rgba(0, 0, 0, 0.80) -20px -20px 20px 20px inset;
    border-bottom: solid;
    border-color: #343a40;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.containerHomeIntroText {
    color: #d9d946;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
}

.containerHomeIntroText p {
    margin: 0;
    background-color: black;
    padding: 15px 15px 0 15px;
}

.containerHomeIntroText p:last-child {
    padding-bottom: 15px;
}

.containerBttn {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.containerBttnLogin {
    padding-right: 10px;
}