footer{
  width: 100%;
  background-color: #303000;
  padding: 20px 0;
}

.buttonFooter {
  background-color: transparent;
  color: white;
}

.buttonFooter:hover {
  background-color: rgb(99, 1, 99)
}
/* dependiendo del color de fondo que al hacer hover es oscurezca un poco */
.conteinerSocials {
  display: flex;
  justify-content: center;
}

.socialImg {
  width: 65px;
}

.socialImg:hover {
  cursor: pointer;
}

.githubImg {
  width: 100px;
}

.containerGithub {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.containerButton {
  display: flex;
  justify-content: center;
}