footer {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(to top, black, #d9d946);
}

.buttonFooter {
  background-color: transparent;
  color: black;
}

.buttonFooter:hover {
  background-color: #9f9f31;
  color: white;
}

.conteinerSocials {
  display: flex;
  justify-content: center;
}

.socialImg {
  margin: 10px;
  width: 65px;
}

.socialImg:hover {
  cursor: pointer;
}

.githubImg {
  width: 100px;
}

.containerGithub {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.containerButton {
  display: flex;
  justify-content: center;
}