.containerListaRecomen {
  width: 100%;
  padding: 25px;
  color: #d9d946;
  background-color: black;
  border-bottom: solid;
  border-color: #343a40;
  border-width: 5px;
}

.imgMovie {
  border-radius: 10px;
}