.change-email-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  background-color: black;
  color: #d9d946;
  border: solid 1px #d9d946;
}

.change-email-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #d9d946;
}

.change-email-card-text {
  margin-bottom: 1rem;
  color: #d9d946;
}

.change-email-form-group {
  margin-bottom: 1rem;
}

.change-email-button {
  background-color: black;
  color: #d9d946;
  border: solid 1px #d9d946;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.3s ease, border 0.5s ease;
}

.change-email-button:hover {
  background-color: #d9d946;
  border: solid 1px black;
  color: black;
}

.change-email-support a {
  color: #ffffff;
}
