.navBar {
    width: 100%;
    background-color: black;
    border-bottom: solid;
    border-color: #343a40;
    border-width: 5px;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left > *:not(:last-child), .nav-right > *:not(:last-child) {
    margin-right: 20px;
}
